@model List<Reservation.mvcproject.Models.AppUser>
@{
    ViewData["Title"] = "GetUserIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>User List</h1>
<br />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

@if (Model != null && Model.Count > 0)
{
    <div class="col-sm-5">
        <ul>
            @foreach (var user in Model)
            {
                <div class="w3-card w3-round w3-white">
                    <div class="w3-container">
                        <h4 class="w3-center text-wrap" style="font-weight: 300;"><b>@user.Name</b></h4>
                        <div class="row">
                            <div class="col-md-4">
                                <p class="w3-center">
                                    @if (user.Gender == "F")
                                    {
                                        <img src="https://cdn-icons-png.flaticon.com/512/4042/4042422.png" class="w3-circle" style="height:106px;width:106px" alt="Avatar">
                                    }
                                    @if (user.Gender == "M")
                                    {
                                        <img src="https://cdn-icons-png.flaticon.com/512/4042/4042356.png" class="w3-circle" style="height:106px;width:106px" alt="Avatar">
                                    }
                                    @if (user.Gender == null)
                                    {
                                        <img src="https://w7.pngwing.com/pngs/764/245/png-transparent-agender-gender-genderless-no-gender-genderqueer-person-identity-genders-icon.png" class="w3-circle" style="height:106px;width:106px" alt="Avatar">
                                    }
                                </p>
                            </div>
                            <div class="col-md-8">
                                @* <h4 class="w3-center text-wrap">@user.Name</h4> *@
                                <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> @user.Email</p>
                                <p><i class="fa fa-phone fa-fw w3-margin-right w3-text-theme"></i> @user.PhoneNumber</p>
                                <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> @user.Adress</p>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
            }
        </ul>
    </div>

}
else
{
    <div>User not found!</div>
}
<br />

