@model List<Reservation.mvcproject.Models.AppUser>
@{
    ViewData["Title"] = "GetUserIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>User List</h1>
<br />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

@if (Model != null && Model.Count > 0)
{
    <div class="row">
        @foreach (var user in Model)
        {
            <div class="col-sm-5 mb-4">
                <div class="w3-card w3-round w3-white">
                    <div class="w3-container">
                        <h4 class="w3-center text-wrap" style="font-weight: 300;"><b>@user.Name</b></h4>
                        <div class="row">
                            <div class="col-md-5" style="margin:0 auto;">
                                <p class="w3-center">
                                    @if (user.Gender == "female")
                                    {
                                        <img src="https://cdn-icons-png.flaticon.com/512/4042/4042422.png" class="w3-circle" style="height:106px;width:106px" alt="Avatar">
                                    }
                                    @if (user.Gender == "male")
                                    {
                                        <img src="https://cdn-icons-png.flaticon.com/512/4042/4042356.png" class="w3-circle" style="height:106px;width:106px" alt="Avatar">
                                    }
                                </p>
                            </div>
                            <div class="col-md-8" style="margin:0 auto;">
                                <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> @user.Email</p>
                                <p><i class="fa fa-phone fa-fw w3-margin-right w3-text-theme"></i> @user.PhoneNumber</p>
                                <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> @user.Adress</p>
                            </div>
                        </div>

                        @{
                            var currentUserEmail = "yesimceylan7@icloud.com"; 
                        }

                        @if (User.Identity.Name == currentUserEmail)
                        {
                            <a href="/AspUser/UpdateUserIndex?Id=@user.Id" class="w3-button w3-dark-grey">Update</a>
                            <a href="#" class="w3-button w3-dark-grey" onclick="confirmDelete('@user.UserName')">Delete</a>
                        }

                        <div class="col-sm-4 mb-4"></div>
                        <script>
                            function confirmDelete(UserName) {
                                var confirmDelete = confirm("Are you sure you want to delete?");
                                if (confirmDelete) {
                                    DeleteUser(UserName);
                                } else {
                                    // Silme işlemi iptal edildiğinde yapılacaklar
                                }

                                event.preventDefault();
                            }

                            function DeleteUser(UserName) {
                                var xhr = new XMLHttpRequest();
                                xhr.open("POST", "/AspUser/DeleteUser", true);
                                xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                                xhr.onreadystatechange = function () {
                                    if (xhr.readyState === 4 && xhr.status === 200) {
                                        // Başarılı bir şekilde silindiğinde yapılacaklar
                                        window.location.href = "/Account/Login";
                                    }
                                };
                                xhr.send("UserName=" + UserName);
                            }
                        </script>

                    </div>
                </div>
            </div>
        }
    </div>
}

else
{
    <div>User not found!</div>
}
<br />

