@model Reservation.mvcproject.Models.AppUser
@{
    ViewData["Title"] = "UpdateUserIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Update User</h1>

<form asp-action="UpdateUser" asp-controller="AspUser" method="post">
    <div class="row">
        <div class="col-sm-6">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span class="text-danger">@Html.ValidationMessageFor(m => m.Name)</span>
        </div>
        <div class="col-sm-6">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span class="text-danger">@Html.ValidationMessageFor(m => m.Email)</span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <label asp-for="PhoneNumber"></label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span class="text-danger">@Html.ValidationMessageFor(m => m.PhoneNumber)</span>
        </div>
        <div class="col-sm-6">
            <label asp-for="Adress"></label>
            <input asp-for="Adress" class="form-control" />
            <span class="text-danger">@Html.ValidationMessageFor(m => m.Adress)</span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <label asp-for="Gender"></label>
            <span class="text-danger">@Html.ValidationMessageFor(m => m.Gender)</span>
        </div>
        <div class="col-sm-half">
            <input class="w3-radio" asp-for="Gender" type="radio" value="male" checked>
            <label>Male</label>
            <br />
            <input class="w3-radio" asp-for="Gender" type="radio" value="female">
            <label>Female</label>
        </div>
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Update</button>
</form>
